@tailwind base;
@tailwind components;
@tailwind utilities;

body[data-theme="Dark"],body{
    --primary-bg:#111827;
    color:white;
    --header:#1f2937;
    --nav-bg:#374151;
    --primary-btn:#b7b6fd;
    --notes-bg:#808892;
    --notes-secondary-bg:#bbbbbb;
}

body[data-theme="Light"]{
    --primary-bg:#F2F6FE;
    color:black;
    --header:#d5d5ec;
    --nav-bg:#efeff5;
    --notes-bg:#c1c1cb;
    --notes-secondary-bg:#dfdfe6;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.user::-webkit-scrollbar{
  scrollbar-width: thin;
}
.user::-webkit-scrollbar-track{
  background: var(--header);
}

.usermessage::-webkit-scrollbar{
  scrollbar-width: thin;
}
.usermessage::-webkit-scrollbar-track{
  background: var(--nav-bg);
}
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  